body > header {
  /* border: solid red 2px; */
  padding-top: 10px;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: mediumpurple;
  background-image: url('../images/absurdity.png');
}

/* .avatar-image {
  border: solid blue 2px;
}*/

.avatar-image img {
  /* border: solid red 2px; */
  margin: 0;  
}

.avatar-name h2 {
  /* border: solid blue 2px; */
  margin: 0;
  font-size: 1.5em;
}