.main-header {
  padding-top: 10px;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: mediumpurple;
  background-image: url('../images/absurdity.png');
}

.avatar-image img {
  margin: 0;  
}

.avatar-name h2 {
  margin: 0;
  font-size: 1.5em;
}